﻿@model IEnumerable<Posting.Models.Post>

@{
	ViewBag.Title = "Posting";
}


<div class="row" style="margin-top: 20px; margin-left:20%; margin-right:20%; font-size:15px;">
	<div class="col-lg-12 container body-content">

		@foreach (var item in Model)
		{
			<div class="text-left table-bordered" style="padding:5px;">
				<b style="color:blue;">
					@Html.DisplayFor(modelItem => item.User.Name)
				</b>
				<p style="margin:5px;">
					@Html.DisplayFor(modelItem => item.Text)
				</p>

				<p>
					<div class="dropdown" style="display: inline;">
						<!--<div id="options_reaction" style="margin-bottom:12px;">
							@Html.ActionLink("Like", "NewReaction", "Home", new { post = item, emotion = "Like" }, new { @style = "color:black;" })
							<button class="btn btn-secondary" style="background-color: #f849a7;">@Html.ActionLink("Love", "NewReaction", "Home", new { post = item, emotion = "Love" }, new { @style = "color:white;" })</button>
							<button class="btn btn-secondary" style="background-color: #f4fe41;">@Html.ActionLink("Surprise", "NewReaction", "Home", new { post = item, emotion = "Surprise" }, new { @style = "color:black;" })</button>
							<button class="btn btn-secondary" style="background-color: #23ff25;">@Html.ActionLink("Funny", "NewReaction", "Home", new { post = item, emotion = "Funny" }, new { @style = "color:black;" })</button>
							<button class="btn btn-secondary" style="background-color: #b30000;">@Html.ActionLink("Angry", "NewReaction", "Home", new { post = item, emotion = "Angry" }, new { @style = "color:white;" })</button>
						</div>-->

						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Reactions <span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-left" aria-labelledby="dropdownMenuButton">
							@foreach (var react in item.Reactions)
							{
								<li class="dropdown-item" href="#">
									@Html.DisplayFor(reactionItem => react.Emotion) - @Html.DisplayFor(reactionItem => react.User.Name)
								</li>
							}
						</ul>
					</div>
					<a>@Html.DisplayFor(modelItem => item.Time)</a>
					<div style="margin-top: 12px;">
						<p style="color:darkslategrey; margin-left:10%;">Comments:</p>
						@foreach (var com in item.Comments)
						{
							<div style="margin-left:12%;">
								<b style="color:blue;">@Html.DisplayFor(commentItem => com.User.Name)</b>
								<a style="color:black;">says @Html.DisplayFor(commentItem => com.Text)</a>
								<p class="pull-right">@Html.DisplayFor(commentItem => com.Time)</p>
							</div>
						}
						<div style="margin-left: 12%;">
							@using (Html.BeginForm("NewComment", "Home", item, FormMethod.Post))
							{
								@Html.TextBox("newText")
								<button type="submit" style="color: white; background-color:blue; ">Comment</button>
							}
						</div>
					</div>
				</p>


		</div>

	}

	</div>
	</div>