﻿@model IEnumerable<Posting.Models.Post>

@{
    ViewBag.Title = "AllPosts";
    Layout = "~/Views/Home/Index.cshtml";
}

<h2>Posts from all users:</h2>

<table class="col">

@foreach (var item in Model) {
    <div>
        <p>
			@Html.DisplayFor(modelItem => item.User.Name);
        </p>
		<p>
			@Html.DisplayFor(modelItem => item.Text);
		</p>
		<p>
			@Html.DisplayFor(modelItem => item.Time);
		</p>

    </div>
}

</table>
